h1, h2, h3, h4, h5, h6, header {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 25px;
    font-weight: bold;
}

button {
    background-color: mediumslateblue;
    color: white;
    alignment: center;
}

.button_style {
    text-align: center;
}